.about {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-main);
  font-weight: bold;
}

.about_name{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_cards-container{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 40%;
    
}
.card2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 40%;
    
}

.card-name-container1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vh;
}

.card-name-container2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vh;
}

.card-img-container1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-img-container2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    

.card-img-container1 img{
    height: 20vh;
    border: 3px solid var(--color-main);
    border-radius: 50%;
}
.card-img-container2 img{
    height: 20vh;
    border: 3px solid var(--color-main);
    border-radius: 50%;
}

@media screen and (max-width:780px) {
    .about{
        height: 165vh;
    }
   .card1{
    width: 80vw;
    flex-direction: column;
    min-height: 70vh;
    font-size: .8rem;
    border-bottom: 4px solid var(--color-main);
   }

   .card2{
    width: 80vw;
    flex-direction: column;
    min-height: 70vh;
    font-size: .8rem;
    border-bottom: 4px solid var(--color-main);
   }

   .card-img-container1, .card-img-container2{
    width: 90%;
    flex-direction: column;
    height: 80vh;
   
    
   }
   .card-name-container2 p, .card-name-container1 p{
    width: 80vw;
   }
   .card1 {
    flex-direction: column-reverse;
   }
}